<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
        <img src="http://192.168.1.13:8080/?action=stream" alt="Webcam de Baba" width="640px" height="480px"/>
    
  </body>
</html>